.favPic{
    position: relative;
    

}
.favPic img{
    width: 100%;
  height: auto;
}
#close{
    position: absolute;
  top: 7%;
  left: 91%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 

}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}