/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Original Stylings from the Lab START<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* purple + orange + blues
 :root {
  --list-back: #bccbde;
  --details-back: #e6e9f0;
  --header-back: #431c5d;
  --button-back: #e05915;
  --border-color: #c2dde6;
  --box-back: white;
} */

:root {
  --list-back: #2b7a78;
  --favorites-back: #def2f1;
  --details-back: #feffff;
  --details-box-back: #def2f1;
  --header-back: #17252A;
  --button-back: #DEA985;
  --border-color: #c2dde6;
  --list-box-back: #feffff;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 10px;
  background: var(--header-back);
  color: white;
  padding: 10px;
}

.header-titles h1 {
  font-size: 2em;
}
.header p {
  margin: 0;
}
.ourButton {
  margin: 0 0.5rem;
  background: var(--button-back);
  border: 0;
  color: white;
  padding: 10px;
  border-radius:5px;
  font-size: 1em;  
}

.container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 47% auto;
  grid-gap: 0;
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-gap: 5px;
  
}
#favInfo{
    border-style:dashed;
    width: 100px;
    padding-left:2%;
}
.photoBox {
    position:relative;
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-gap: 3px;
opacity: 1;
  background-color: var(--list-box-back);
  margin: 0.80rem;
  padding: 0.5rem;
  place-self: center center;
  justify-content: space-evenly;
  

}
.photoBox button {
    width:45px ;
  padding: 5px;
    margin: auto;
  font-size: 0.75em;
  border-radius: 3px;
    

}
.photoBox h3 {
  font-size: 0.85em;
  font-weight: bold;
}
.photoBox p {
  font-size: 0.75em;
  margin: 0.25em 0 0.25em 0;
}
.photoBox button {
  margin: 0 0.5em;
  min-width: 2.5em;

}

img.photoThumb {
  width: 100px;
  height: 100px;
}

.details {
  
  padding: 0.5em;
  width: 95%
}
.detailsPhotoBox {
  box-sizing: border-box;
  margin: 0.75em;
 
  padding: 1em;
  background-color: var(--details-box-back)
}

figure {
  margin: 0;
  padding: 0;
}
legend {
  font-weight: bold;
  color: var(--list-back);
  font-size: 1.2em;
}
.photoForm img {
   width: 100%
}

.favorites {
  display: grid;
  
    grid-template-columns:  10% 70% 15%;
  grid-auto-flow: column;
  
  align-items: center;
  grid-gap: 5px;
  background: var(--favorites-back);
  color: var(--header-back);
  padding: 5px;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Original Stylings from the Lab END<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Used to hide the initial Favorites divs with no photos saved.  */
.visible{
    visibility: hidden;
    background: var(--favorites-back);
}
/*The PhotoList Div */
#pList{
   overflow: auto;
  white-space: nowrap;
   display:inline-block; 
    
}
/*The PhotoThumbs*/
.pListPhotos{
    display:inline-block;
}
/*Styling for the FilterBy Title*/
#FilterBy{
    margin-top:1.5%;
    background-color: var(--details-box-back);
}
/*Styling for the Favorite Photo */
.favPic{
    position: relative;
}
/*Styling for the Favorite Photo, specfically the img*/
.favPic img{
    width: 100%;
  height: auto;
}
/*Delete Icon for the Favorite Photos*/
.deleteFav{
      opacity: 0;
    position: absolute;
  top: 7%;
  left: 91%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 

}
.showFavDelete{
    opacity: 1;
    position: absolute;
  top: 7%;
  left: 91%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 

}

/*Delete Icon for the PhotoThumbs*/
.deletePhoto{
   opacity: 0;
    position: absolute;
  top: 4.2%;
  left: 97%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.showPhoto{
opacity: 1;
        position: absolute;
  top: 4.2%;
  left: 97%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 
}

/*Shadow effect for when a PhotoThumb is selected*/
.photoSelected {
    box-shadow: 10px 10px;
}

/*Deletion effect for deleting a favorite photo */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

#photoList{
 height: 750px;
  overflow-y:scroll;
    border-style: solid;
  border-width: 3px;
}
/*Sets the background for the Photo Browser */
.photoBrowser{
    background: url('https://source.unsplash.com/1600x900') top left/cover no-repeat;
}
/*Moves the main section over*/
#mainSection{
    margin-left:15px;
}
/*Styling for the maps */
#map{
  
    margin-top:4%;
    padding-top:2%;
     
    margin-right: auto;
     height: 400px;
}
#map2{
 z-index: 2;
     height: 150px;

}
#mapInfo{
    padding-top:2%;
    text-align: center;
}
#userContainer{
     position:absolute;
     z-index: 3;
    width:150px;
    height:150px;
    border-style:solid;
    margin-top:46%;
   
}
#userContainer h5{
position:absolute;
     z-index: 5;
}
#mapContianer{
   
  width: 600px;
    background-color: var(--details-box-back);
  
}
/*Styling for the View State Image */

#viewImage img{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 450px;
}

/*About Us Styling*/
.aboutUs{
  height:350px;
    overflow:auto;
}
#quickEdit{
    margin-top:5%;
}

